main.cp {
    display: flex;
    flex-grow: 1;

    aside.sidebar {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 280px;
        box-shadow: 0 0 10px 1px #ccc;
    }

    section.content {
        flex-grow: 1;
    }
}